.div-title {
    background-color: black;
}

.container {
    display: flex;
}


.left {
    display: flex;
    justify-content: left;
    align-items: center;

}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.right {
    display: flex;
    justify-content: right;
    align-items: center;

}

.logo {
    border-radius: 50px;
    margin: 3%;
}



.grid-columns {
    display: grid;
    gap: 2rem;
    grid-template-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(min(258px, 17rem), 1fr));
}
.link {
    margin: 0% 3%;
}


